<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iker.prueba3">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="POWERAPP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Prueba3">

        <activity
            android:name=".MainFotoAleatoria"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight">

        </activity>
        <activity
            android:name=".MainSplash"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivityRegistrar"
            android:exported="true"
            android:allowBackup="true"
            android:parentActivityName="com.iker.prueba3.MainActivity"
            android:theme="@style/AppTheme.ActionBar.Transparent"
            android:supportsRtl="true">


        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.ActionBar.Transparent">

        </activity>




    </application>

</manifest>